doctype html
html
  head
    title Whodat
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/normalize.css")
    link(href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css')
    script(type='text/javascript', src='//code.jquery.com/jquery-1.11.1.min.js')
    block head
  body
    div.content
      block content
