body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: #eeeeee;
  font-size: 11pt;
  margin: 8px;
}
div.content {
  margin: 0 auto;
  max-width: 500px;
}
header span#score {
  float: right;
}
header span#score .correct {
  color: #349900;
}
header span#score .correct:before {
  content: "\2713";
  display: inline-block;
  font-weight: bold;
}
header span#score .incorrect {
  color: #ff0000;
}
header span#score .incorrect:before {
  content: "\2717";
  display: inline-block;
  font-weight: bold;
  margin-left: 8px;
}
header h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 250%;
  margin: 0.3em 0 0.1em 0;
  line-height: 1.3em;
  color: #e8830c;
}
section.tweet,
section.choices li {
  border-radius: 8px;
  padding: .7em;
  display: block;
  margin-bottom: 0.5em;
}
section.choices ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
section.choices ul li {
  cursor: pointer;
  background-color: #ffffff;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
section.choices ul li.correct {
  background: #bcff99;
}
section.choices ul li.incorrect {
  background: #ffcccc;
}
section.choices ul li.active:hover {
  background-color: #fff9a6;
}
section.choices ul li span.handle {
  float: right;
  font-size: 80%;
  color: #aaaaaa;
}
section.tweet {
  background-color: #4099ff;
}
section.tweet div.date {
  text-align: right;
  font-size: 80%;
  color: #eeeeee;
  line-height: 1em;
  margin-bottom: 0.5em;
}
section.tweet div.text {
  color: #ffffff;
}
footer#copy {
  text-align: center;
  margin: 1em 0;
  color: #aaaaaa;
  font-size: 90%;
}
footer#copy a,
footer#copy a:hover,
footer#copy a:visited {
  color: #003673;
  text-decoration: none;
}
